<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <clear/>
    <add key="Conexion" value="Provider=Ifxoledbc.2;Persist Security Info=True;Data Source=tbase@sfi400;User ID=sfi400;Password=caparu2008;DB_Locale=en_US.819;Client_Locale=en_US.819;"/>
    <add key="TipoConn" value="2"/><!--2=INFORMIX; 1=SQL-->
    <add key="BaseDatos" value="tbase"/><!--nombre del servidor de la base de datos-->
    <add key="DataSource" value="tbase@sfi400"/><!--tbase@sfi400 ó DANIEL\SQLSERVER2012 nombre de la instancia completa del servidor ifx-->
    <add key="UserId" value="sfi400"/>
    <add key="Password" value="MTIzNDU2Nzg5MDEyMzQ1NkBg/VD9LzuZKP0XeK+eiVs="/><!--ifx-->
    <!--<add key="Password" value="MTIzNDU2Nzg5MDEyMzQ1NtHtXoMXiSxWMRHptwxXVqM=" />  --><!--SQL-->
    <add key="UsuarioMT" value="WEB"/>
    <add key="IpHost" value="192.168.100.150"/>
    <add key="IpServer" value="192.168.100.229"/>
    <add key="PuertoMTSocket" value="1234"/>
    <add key="TipoOrden" value="200"/>
    <add key="RutaMensaje_FacturacionElectronica" value="D:\Mensajes_ACCL\"/>
    <add key="dbLocale" value="en_US.819"/>
    <add key="clientLocale" value="en_US.CP1252"/>
    <add key="version" value="1.0.1"/>

    <!--PARAMETROS CONEXION BASE DE DATOS SQL-->

    <!--URL SERVICIOS RESTFUL-->
    <add key="urlEndPointEnviar" value="http://190.171.205.89:8080/ws-send-docfiscal/rest/ws-send-docfiscal/enviar"/>
    <add key="urlEndPointFind" value="http://190.171.205.89:8080/ws-find-docfiscal/fnd/docfiscal/find"/>
    <add key="urlEndPointList" value="http://190.171.205.89:8080/ws-find-docfiscal/fnd/docfiscal/list"/>
    <add key="urlEndPointAnular" value="http://190.171.205.89:8080/ws-anular-docfiscal/cnl/docfiscal/anular"/>

    <add key="LibreriaSoftHSM" value="C:\SoftHSM2\lib\softhsm2.dll"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>